/* Gjelder for hele
============================*/
  * {
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration:none;
  }
  body {
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-family: Georgia;
    width: 100%;
    height: 100%;
  }
/* Gjelder for hele
=============================*/
  

/*navigasjonsbaren
=============================*/
  .navbar{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #FFF;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 1);
    padding: 0 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
  }
  .logo{
    width: 9rem;
    height: 3rem;
  }
  .activ{
    color: white !important;
    background-color: black;
  }
  .navbarliste li { 
    display: inline-block;
    padding: 0 1rem;
  }
  .navbarliste li a {
    transition: all 0.3s ease 0s;
  }
  .navbarliste li a:hover{
    color:#FFF;
    background-color: black;
  }
  .nav-bar li a{
    font-size: 1rem;
    padding: 1.25rem;
    display: block;
    color: black;
  }
  .knapp2{
    font-weight: bold;
    color: #FFF;
    background-color: black;
    cursor: pointer;
    height: 2.75rem;
    width: 10rem;
    font-size: 1rem;
  }
  .knapp2:hover{
    background-color: #FFF;
    color: black;
    transition: font-size .15s;
    font-size: 1.38rem;
  }
  .hamburger{
    display:none;
  }
  @media only screen and (max-width:1160px){
    .navbar{
      padding: 0 0.5%;
    }
    .navbarliste li{
      padding: 0 0.1rem;;
    }
  }
  @media only screen and (max-width: 960px){
    .hamburger{
      display:block;
      cursor:pointer;
    }
    .hamburger .line{
      width: 30px;
      height: 3px;
      background: black;
      margin: 6px 0;
    }
    .nav-bar{
      height: 0;
      position: absolute;
      top: 48.4px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: rgb(255, 255, 255);
      transition: 0.2s;
      overflow: hidden;
    }
    .nav-bar.active{
      height: 340px;
    }
    .nav-bar ul{
      display: block;
      width: fit-content;
      margin: 50px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
    }
    .navbarliste li{
      display: block;
    }
    .nav-bar ul li{
      color: black;
    }
    .nav-bar.active ul{
      opacity: 1;
    }
    .nav-bar ul li a{
      margin: 10px;
    }
  }
/*navigasjonsbaren
=================================*/
 

/*Hovedtekst med bakgrunnsbilde
=================================*/
  .svartbox{
    background-color: black;
    height: 35rem;
    width: 100%;
  }
  .bakgrunnsbilde{
    width: 100%;
    background-color: black;
    height: 35rem;
    opacity: 0.4;
  }
  .overskrift h1{
      text-align: center;
      font-size: 3.5rem;
      font-weight: 300;
      position: relative;
      color: white;
      top: -13rem;
  }
  .overskrift p{
    position: relative;
    top: -13rem;
    font-size: 1.5rem;
    color: white;
    width: 45%;
    margin: auto;  
    text-align: center;
  }
  @media only screen and (max-width:800px){
    .overskrift h1{
        font-size: 3rem;
    }
    .overskrift p{
        font-size: 1.25rem;
    }
    .svartbox{
        height: 30rem;
    }
    .bakgrunnsbilde{
        height: 30rem;
    }
  }
  @media only screen and (max-width:400px){
    .svartbox{
        height: 25rem;
    }
    .bakgrunnsbilde{
        height: 25rem;
    }
  }
/*Hovedtekst med bakgrunnsbilde
=================================*/


/*Hovedinnhold
=================================*/
    .container{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        margin-top: 4rem;
        flex-wrap: wrap;
    }
    .collage{
       width: 100%;
       height: 70%;
    }
    .box{
        max-height: 650px;
        min-height: 300px;
        max-width: 500px;
        min-width: 300px;
        margin-bottom: 5rem;
    }
    .box p{
        margin: 0.5rem;
        text-align: center;
        font-style: italic;
    }
    .box h2{
        text-align: center;
        font-weight: 500;
        margin: 1rem;
    }
    .box div{
        display: flex;
        justify-content: center;
        margin: 1rem;
    }
    .box div p{
        margin-left: 0.1rem;
        margin-right:1.5rem ;
        align-self: center;
    }
    .icon{
        width: 50px;
        height: 50px;
    }
    .box div button{
        font-weight: bold;
        color: white;
        background-color: black;
        cursor: pointer;
        height: 3.125rem;
        width: 10rem;
        font-size: 1rem;
    }
    .box div button:hover{
        background-color: white;
        color: black;
    }
    @media only screen and (max-width: 800px){
        .overskrift p{
            width: 60%;
        }
    }
    @media only screen and (max-width: 500px){
        .overskrift p{
            width: 90%;
        }
    }
/*Hovedinnhold
=================================*/
  
/*footer koden
=====================================*/
  .footer-content{
    display: flex;
    padding-top: 1.875rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
  }
  .footer-content h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    margin: 0.625rem auto;
    line-height: 1.75rem;
  }
  .sosiale{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  .sosiale li{
    margin: 0 0.625rem;
  }
  .sosiale a{
    color: white;
  }
  .sosiale a:hover{
    color: grey;
  }
  .footer-bottom{
    background: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
  }
  .footer-bottom p{
    font-size: 0.875rem;
    word-spacing: 0.125rem;
  }
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
/*footer koden
====================================*/